{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div class="table-responsive">
                  <table class="table table-bordered table-striped">
                            <tr>
                                <th>Id</th>
                                <th>Message</th>
                                <th>Time</th>
                            </tr>

                            {% for message in messages %}
                           <tr>
                               <td>{{ message.id }}</td>
                               <td>{{ message.msg }}</td>
                               <td>{{ message.time }}</td>


                           </tr>

                        {% endfor %}
                    </table>

                </div>



{% endblock %}





